# Save ML Models

In [38]:
import joblib, pickle

In [40]:
model2 = pickle.load(open('pik1','rb')) #for reading mode

In [41]:
model2

LinearRegression()

In [44]:
model2.predict([[2000]])

C:\Users\MD.NAIM HOSSAIN\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[30927.80436869]])

# Start Feature Transform

In [1]:
import pandas as pd
import numpy as np

In [30]:
df = pd.read_csv('supershops.csv')
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

In [3]:
df2=df.copy()
df3=df.copy()
df4=df.copy()
df5=df.copy()
df6=df.copy()
df7=df.copy()

In [31]:
df6=df.copy()

# Normalization

In [4]:
from sklearn.preprocessing import MinMaxScaler

In [5]:
scl=MinMaxScaler()

In [6]:
df_scl=scl.fit(df[['Marketing Spend']])

In [7]:
df_scl

MinMaxScaler()

In [8]:
df[['Marketing_Spend_New']] = scl.transform(df[['Marketing Spend']])

In [9]:
df.head()

,Marketing Spend,Administration,Transport,Area,Profit,Marketing_Spend_New
0,114523.61,136897.80,471784.10,Dhaka,192261.83,0.692617
1,162597.70,151377.59,443898.53,Ctg,191792.06,0.983359
2,153441.51,101145.55,407934.54,Rangpur,191050.39,0.927985
3,144372.41,118671.85,383199.62,Dhaka,182901.99,0.873136
4,142107.34,91391.77,366168.42,Rangpur,166187.94,0.859438

In [10]:
#together fit_transform and column value change and replace name
df[['Administration']] = scl.fit_transform(df[['Administration']])
df.head()

,Marketing Spend,Administration,Transport,Area,Profit,Marketing_Spend_New
0,114523.61,0.651744,471784.10,Dhaka,192261.83,0.692617
1,162597.70,0.761972,443898.53,Ctg,191792.06,0.983359
2,153441.51,0.379579,407934.54,Rangpur,191050.39,0.927985
3,144372.41,0.512998,383199.62,Dhaka,182901.99,0.873136
4,142107.34,0.305328,366168.42,Rangpur,166187.94,0.859438

# Perform Normalization using loop

In [12]:
from sklearn.preprocessing import MinMaxScaler

columns_to_scale = ['Marketing Spend', 'Administration','Transport']

scl = MinMaxScaler()

for column in columns_to_scale:
    df3[[column + '_New']] = scl.fit_transform(df3[[column]])

df3.head()

,Marketing Spend,Administration,Transport,Area,Profit,Marketing Spend_New,Administration_New,Transport_New
0,114523.61,136897.80,471784.10,Dhaka,192261.83,0.692617,0.651744,1.000000
1,162597.70,151377.59,443898.53,Ctg,191792.06,0.983359,0.761972,0.940893
2,153441.51,101145.55,407934.54,Rangpur,191050.39,0.927985,0.379579,0.864664
3,144372.41,118671.85,383199.62,Dhaka,182901.99,0.873136,0.512998,0.812235
4,142107.34,91391.77,366168.42,Rangpur,166187.94,0.859438,0.305328,0.776136

# Standardization

In [11]:
from sklearn.preprocessing import StandardScaler
s=StandardScaler()

In [12]:
df2.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

In [13]:
df2[['Transport']] = scl.fit_transform(df2[['Transport']])
df.head()

,Marketing Spend,Administration,Transport,Area,Profit,Marketing_Spend_New
0,114523.61,0.651744,471784.10,Dhaka,192261.83,0.692617
1,162597.70,0.761972,443898.53,Ctg,191792.06,0.983359
2,153441.51,0.379579,407934.54,Rangpur,191050.39,0.927985
3,144372.41,0.512998,383199.62,Dhaka,182901.99,0.873136
4,142107.34,0.305328,366168.42,Rangpur,166187.94,0.859438

# Log Transformation

In [19]:
from sklearn.preprocessing import FunctionTransformer
ft=FunctionTransformer(np.log1p)

In [21]:
df4.head(2)

   Marketing Spend  Administration  Transport   Area     Profit
0        114523.61       136897.80  471784.10  Dhaka  192261.83
1        162597.70       151377.59  443898.53    Ctg  191792.06

In [23]:
df4[['Transport']]=ft.fit_transform(df4[['Transport']])
df4.head(5)

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80   2.643638    Dhaka  192261.83
1        162597.70       151377.59   2.639297      Ctg  191792.06
2        153441.51       101145.55   2.633245  Rangpur  191050.39
3        144372.41       118671.85   2.628741    Dhaka  182901.99
4        142107.34        91391.77   2.625455  Rangpur  166187.94

# Perform Log using loop

In [24]:
columns_to_scale = ['Marketing Spend', 'Administration','Transport']

ft=FunctionTransformer(np.log1p)

for column in columns_to_scale:
    df5[[column + '_New']] = ft.fit_transform(df5[[column]])

df5.head()

,Marketing Spend,Administration,Transport,Area,Profit,Marketing Spend_New,Administration_New,Transport_New
0,114523.61,136897.80,471784.10,Dhaka,192261.83,11.648545,11.826997,13.064279
1,162597.70,151377.59,443898.53,Ctg,191792.06,11.999040,11.927539,13.003354
2,153441.51,101145.55,407934.54,Rangpur,191050.39,11.941081,11.524326,12.918864
3,144372.41,118671.85,383199.62,Dhaka,182901.99,11.880158,11.684126,12.856314
4,142107.34,91391.77,366168.42,Rangpur,166187.94,11.864345,11.422922,12.810851

# Robust Scaler

In [25]:
from sklearn.preprocessing import RobustScaler
rs=RobustScaler()

In [32]:
df6.head(2)

   Marketing Spend  Administration  Transport   Area     Profit
0        114523.61       136897.80  471784.10  Dhaka  192261.83
1        162597.70       151377.59  443898.53    Ctg  191792.06

In [33]:
df6[['Transport_new']]=ft.fit_transform(df6[['Transport']])
df6.head(5)

,Marketing Spend,Administration,Transport,Area,Profit,Transport_new
0,114523.61,136897.80,471784.10,Dhaka,192261.83,13.064279
1,162597.70,151377.59,443898.53,Ctg,191792.06,13.003354
2,153441.51,101145.55,407934.54,Rangpur,191050.39,12.918864
3,144372.41,118671.85,383199.62,Dhaka,182901.99,12.856314
4,142107.34,91391.77,366168.42,Rangpur,166187.94,12.810851

# Max Absolute Scaler

In [34]:
from sklearn.preprocessing import MaxAbsScaler
mas=MaxAbsScaler()

In [35]:
df7.head(2)

   Marketing Spend  Administration  Transport   Area     Profit
0        114523.61       136897.80  471784.10  Dhaka  192261.83
1        162597.70       151377.59  443898.53    Ctg  191792.06

In [36]:
df7[['Transport_new']]=ft.fit_transform(df7[['Transport']])
df7.head(5)

,Marketing Spend,Administration,Transport,Area,Profit,Transport_new
0,114523.61,136897.80,471784.10,Dhaka,192261.83,13.064279
1,162597.70,151377.59,443898.53,Ctg,191792.06,13.003354
2,153441.51,101145.55,407934.54,Rangpur,191050.39,12.918864
3,144372.41,118671.85,383199.62,Dhaka,182901.99,12.856314
4,142107.34,91391.77,366168.42,Rangpur,166187.94,12.810851