# Python Conditions:
1. Take values of the length & breadth of a rectangle from user input and check if it is square or not.

In [3]:
L =int(input('Enter length: '))
B =int(input('Enter Bredth: '))
if (L==B):
    print("It is a square")
else:
    print('It is not a square')

Enter length: 5
Enter Bredth: 5
It is a square

# 2. Take three integer values from the user and print the greatest among them.

In [10]:
a =int(input('Enter 1st integer value: '))
b =int(input('Enter 2nd integer value: '))
c =int(input('Enter 3rd integer value: '))
if (a>=b and a>=c):
    print('The greatest value is 1st')
elif (b>=a and b>=c):
    print('The greatest value is 2nd')
else:
    print('The greatest value is 3rd')

Enter 1st integer value: 33
Enter 2nd integer value: 12
Enter 3rd integer value: 56
The greatest value is 3rd

# 3. A student will not be allowed to sit in an exam if his/her attendance is less than 75%.

In [13]:
class_number =int(input('Number of class: '))
attendence =(class_number*100)/100

if (attendence<75):
    print("A student will not be allowed to sit in an exam")
else:
    print('A student will be allowed to sit in an exam')

Number of class: 74
A student will not be allowed to sit in an exam

# 4. A school has the following rules for the grading system:

In [38]:
mark= int(input('Enter the mark of a student: '))

if (mark>=90 and mark<=100):   
    print("A+")
    
elif (mark>=80 and mark<=89):   
    print("A")
    
elif (mark>=60 and mark<=79):   
    print("B")
    
elif (mark>=50 and mark<=59):   
    print("C")

elif (mark>=45 and mark<=49):   
    print("D")

elif (mark>=25 and mark<=44):   
    print("E")
    
elif (mark<25):   
    print("F")

else:
    print('Invalid Mark')

Enter the mark of a student: 25
E

# Loop Problem:
5. Print the following pattern using for and while loop.
1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4

In [49]:
'''
1 2 3 4 5 6 7 
1 2 3 4 5 6 
1 2 3 4 5 
1 2 3 4
'''
#using for loop
for i in range(1,5):
    for j in range(1,9-i):
        print(j,end=' ')
    print('\n')

1 2 3 4 5 6 7

1 2 3 4 5 6

1 2 3 4 5

1 2 3 4

In [52]:
#using while loop
i=1
while(i<5):
    j=1
    while(j<9-i):
        print(j,end=' ')
        j+=1
    print('\n')
    i+=1

1 2 3 4 5 6 7

1 2 3 4 5 6

1 2 3 4 5

1 2 3 4

# 6. Display numbers from -100 to -10 using for loop

In [2]:
for i in range(-100,-9):
    print(i,end=' ')

-100 -99 -98 -97 -96 -95 -94 -93 -92 -91 -90 -89 -88 -87 -86 -85 -84 -83 -82 -81 -80 -79 -78 -77 -76 -75 -74 -73 -72 -71 -70 -69 -68 -67 -66 -65 -64 -63 -62 -61 -60 -59 -58 -57 -56 -55 -54 -53 -52 -51 -50 -49 -48 -47 -46 -45 -44 -43 -42 -41 -40 -39 -38 -37 -36 -35 -34 -33 -32 -31 -30 -29 -28 -27 -26 -25 -24 -23 -22 -21 -20 -19 -18 -17 -16 -15 -14 -13 -12 -11 -10

# 7. Write a program to sum all prime numbers within a range of 10 to 1000.

In [25]:
lower = 10
upper = 1000
p=0

for num in range(lower, upper + 1):
   if num > 1:
    for i in range(2, num):
        if (num % i) == 0:
            break
    else:
        p+=num
print("Sum all Prime numbers within", lower, "and", upper, "are:",p)

Sum all Prime numbers within 10 and 1000 are: 76110

# 8. Find the factorial of an n! (Hint, n=7: 7*6*5*4*3*2*1).

In [36]:
n = 7
factorial = 1

# Calculate the factorial of n
for i in range(1, n+1):
    factorial *= i
    #print(factorial)

# Print the factorial as a sequence of numbers multiplied together
print('*'.join(str(i) for i in range(n, 0, -1)), '=', factorial)

7*6*5*4*3*2*1 = 5040

# 9. Reverse a given integer number 27956240710.

In [37]:
#The [::-1] syntax means that we are slicing the string from the end to the beginning, with a step size of -1, 
#which effectively reverses the order of the characters.

num = 27956240710
reverse_num = int(str(num)[::-1]) 
print(reverse_num)

1704265972

# 10. Print the following pattern using for and while loop.

In [ ]:
# # #
# # # #
# # #
# #
for i in range()

# 11. Display the Fibonacci series of 15 elements using the for and while loop.

In [5]:
def fibonacci(n):
    if n<0:
        print('Incorrect Number')
    elif n==0:
        return 0
    elif n==1 or n==2:
        return 1
    else:
        return fibonacci(n-1)+fibonacci(n-2)
#n=15
n=int(input('Enter the no of elements of the series'))
print(fibonacci(n))

Enter the no of elements of the series15
610

# Python inbuilt Data Structure:
12. Remove 2 and add 3 to the list and replace True with False.
Li = [1,3,5, [2,3], True]
Output = [1,3,5, [3,3], False]

In [23]:
Li = [1,3,5,[2,3],True]
Li.remove(2)   #first bracket means index 2
print(Li)

ValueError: list.remove(x): x not in list

In [24]:
Li[3][0]=3
Li[-1]=False
print(Li)

[1, 3, 5, [3, 3], False]

# 13. Find the intersection (common) of two sets.
S1 = {1,4,6,8}
S2 = {True, 1,2,10}

In [21]:
S1 = {1,4,6,8} 
S2 = {True, 1,2,10}

print(S1.intersection(S2))

{True}

# 14. Input a list from the user then Remove duplicates from a list and create a set and find the max
number. User_input = [1,9,3,4,5,200,54]

# 15. Rename the key of a dictionary.
Dict = { "name": "Shakil", "age":27, "city": “Berlin”, "country": "Germany" }
Write a program to rename a key ‘country’ to a ‘region’ in the following dictionary.

In [12]:
Dict = { "name": "Shakil", "age":27, "city": "Berlin", "country": "Germany" }
Dict

{'name': 'Shakil', 'age': 27, 'city': 'Berlin', 'country': 'Germany'}

In [14]:
Dict["region"]=Dict.pop("country")
Dict

{'name': 'Shakil', 'age': 27, 'city': 'Berlin', 'region': 'Germany'}

# 16. Creating a data frame using the list.
num = [10,100,300] (column name is number)

In [15]:
import pandas as pd

In [16]:
num = [10,100,300]
df=pd.DataFrame(num)
df

     0
0   10
1  100
2  300

# 17. Change the value of a key in a given dictionary.
Write a Python program to change ‘age’ to 28 in the following dictionary.
Dict = { "name": "Shakil", "age":27, "city": “Berlin”, "country": "Germany" }

In [19]:
Dict = { "name": "Shakil", "age":27, "city": "Berlin", "country": "Germany" }
Dict

{'name': 'Shakil', 'age': 27, 'city': 'Berlin', 'country': 'Germany'}

In [20]:
Dict["age"]=28
Dict

{'name': 'Shakil', 'age': 28, 'city': 'Berlin', 'country': 'Germany'}